
/* Your CSS Code here. */
table,th, td {
        border:1px solid black;
        margin-top:10px;
        margin-bottom:10px;
        text-align: center;
      }
      .table-2{
        width: 100%;
      }
      ul{
        margin:0;
        padding:0;
        display: inline-block;
        text-align: left;
      }
      }
      .black-cell{
        background-color: black;
        color:white;
      }